<app-auth-form [title]="'Register'" [formGroup]="registerForm" [onSubmitAuthForm]="onRegisterUser">

    <app-input 
        [name]="'username'" 
        [ariaLabel]="'username'" 
        [placeHolder]="'Username'" 
        [icon]="'person'"
        [size]="'large'"
        formControlName="username"
     />

    <app-input 
        [name]="'passowrd'" 
        [ariaLabel]="'passowrd'" 
        [placeHolder]="'Password'" 
        [icon]="'lock'"
        [type]="'password'" 
        [size]="'large'" 
        formControlName="password"
    />

    <app-input 
        [name]="'Profile Picture'" 
        [ariaLabel]="'Profile Picture'" 
        [placeHolder]="'Profile'" 
        [icon]="'image'"
        [type]="'file'" 
        [size]="'large'" 
        [click]="onClickInputFile"
        formControlName="imageFile"
    />


    <app-button 
        [ariaLabel]="'Login'" 
        [size]="'xl'" 
        [buttonType]="'primary'">
        <mat-icon>person_add</mat-icon>
        Register</app-button>


    <app-button 
        [ariaLabel]="'Login'" 
        [size]="'xl'" 
        [buttonType]="'danger'"
        [onClick]="navigateToLogin"
        >
        <mat-icon>login</mat-icon>

        Login</app-button>

    <div style="background-color: brown;">
        @for (error of getErrors('username'); track $index) {
            <p>{{error}}</p>
        }

        @for (error of getErrors('password'); track $index) {
            <p>{{error}}</p>
        }

        @for (error of getErrors('imageFile'); track $index) {
            <p>{{error}}</p>
        }

    </div>
    
</app-auth-form>
