<app-auth-form [title]="'Register'" [formGroup]="registerForm" [onSubmitAuthForm]="onRegisterUser">

    <app-input 
        [name]="'username'" 
        [ariaLabel]="'username'" 
        [placeHolder]="'Username'" 
        [icon]="'person'"
        [size]="'large'"
        formControlName="username"
     />

    <app-input 
        [name]="'passowrd'" 
        [ariaLabel]="'passowrd'" 
        [placeHolder]="'Password'" 
        [icon]="'lock'"
        [type]="'password'" 
        [size]="'large'" 
        formControlName="password"
    />


    <app-button 
        [ariaLabel]="'Login'" 
        [size]="'xl'" 
        [buttonType]="'primary'">
        <mat-icon>person_add</mat-icon>
        Register</app-button>

    <app-button 
        [ariaLabel]="'Login'" 
        [size]="'xl'" 
        [buttonType]="'danger'"
        [onClick]="navigateToLogin"
        >
        <mat-icon>login</mat-icon>

        Login</app-button>

    


</app-auth-form>