@use '../../sass/theme' as *;

.modal {

    position: absolute; 
    background-color: $ultraDarkBlue;  
    z-index: 2;
    left: 3rem;
    top: 0%;
    border-radius: 10px;
    transition: opacity 0.3s;
    opacity: 0;
    visibility: hidden;
    width: 400px;

    &__content {
        padding: 1rem;
    }

    &__visible {
        opacity: 1;
        visibility: visible;
    }
}
