@use '../../../../shared/sass/theme' as *;
@use '../../../../shared/sass/generic' as *;

.drink {

    @include flexContainerColumn();
    border-radius: 5px;
    background-color: $darkBlue;
    width: 200px;
    height: 300px;
    cursor: pointer;
    border: 2px solid $pink;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none;     

    &__image {
        height: 60%
    }

    &__info {

        @include flexContainerColumn();

        &--name {
            color: $dark;
        }

        &--price {
            font-size: 1.5rem;
            color: $green;
        }

    }

    &:hover {
        background-color: $blue;
        border-color: $green;
        scale: 1.1;
    }

    &:active{
        background-color: $lightGray;
        border-color: $green;
    }


    
}