@if (label) {
    <label class="label" for="{{name}}">{{label}}</label>
}


<div class="inputContainer">

    <mat-icon class="icon-xsm icon-not-clickable">{{icon}}</mat-icon>



    @switch (type) {


        @case ("password") {

            <input 
                class="input" 
                [ngClass]="{ 'input__large': size === 'large' }" 
                name="{{name}}" 
                [placeholder]="placeHolder" 
                [attr.required]="required ? '' : null"
                [(ngModel)]="value"
                (ngModelChange)="emitValue()"
                [type]="'password'"
            >

        }
        @case ("textArea") {

            <textarea 
                class="input" 
                name="{{name}}" 
                [ariaLabel]="ariaLabel"
                [placeholder]="placeHolder" 
                [attr.required]="required ? '' : null"
                [(ngModel)]="value"
                (ngModelChange)="emitValue()"
            ></textarea>
 
        }
        @case ('checkbox') {

                                

        }
        @default {
            <input 
                class="input" 
                [ngClass]="{ 'input__large': size === 'large' }" 
                name="{{name}}" 
                [placeholder]="placeHolder" 
                [attr.required]="required ? '' : null"
                [(ngModel)]="value"
                (ngModelChange)="emitValue()"
                [type]="'text'"
            >
        }

    }

</div>

