

 @switch (type) {


     @case ("password") {

         @if (label) {
             <label class="label" for="{{name}}">{{label}}</label>
         }


         <div class="inputContainer">

             <mat-icon class="icon-xsm icon-not-clickable">{{icon}}</mat-icon>



             <input 
                 class="input" 
                 [ngClass]="{ 'input__large': size === 'large' }" 
                 name="{{name}}" 
                 [placeholder]="placeHolder" 
                 [attr.required]="required ? '' : null"
                 [(ngModel)]="value"
                 (ngModelChange)="emitValue()"
                 [type]="'password'"

             >

         </div>

     }
     @case ("textArea") {
         @if (label) {
             <label class="label" for="{{name}}">{{label}}</label>
         }


         <div class="inputContainer">

             <mat-icon class="icon-xsm icon-not-clickable">{{icon}}</mat-icon>


             <textarea 
                 class="input" 
                 name="{{name}}" 
                 [ariaLabel]="ariaLabel"
                 [placeholder]="placeHolder" 
                 [attr.required]="required ? '' : null"
                 [(ngModel)]="value"
                 (ngModelChange)="emitValue()"
             ></textarea>
 
         </div>


     }
     @case ('checkbox') {


        <div class="switch">
            @if (ariaLabel) {
                <label class="switch__label" for=""><mat-icon class="icon-xsm icon-not-clickable icon-white">{{icon}}</mat-icon>{{ariaLabel}}</label>
            }

            <mat-slide-toggle  
                [(ngModel)]="value"
                (change)="emitValue()" 
                class="switch__toggle" color="accent"/>
        </div>
        



     }
     @case ('file') {

        <div class="inputContainer fileInputContainer">
            <label for="fileInput" class="switch__label fileInputContainer__label">
                <mat-icon class="icon-xsm icon-not-clickable icon-white">{{icon}}</mat-icon>
                {{ariaLabel}} 
                <mat-icon class="icon-not-clickable icon-white">arrow_circle_up</mat-icon>
            </label>

            <input 
                (click)="click()"
                id="fileInput" 
                class="fileInput" 
                type="file" 
                accept="image/png" 
                (change)="onFileChange($event)">

            
        </div>

     }


     @default {
         @if (label) {
             <label class="label" for="{{name}}">{{label}}</label>
         }


         <div class="inputContainer">

             <mat-icon class="icon-xsm icon-not-clickable">{{icon}}</mat-icon>

             <input 
                 class="input" 
                 [ngClass]="{ 'input__large': size === 'large' }" 
                 name="{{name}}" 
                 [placeholder]="placeHolder" 
                 [attr.required]="required ? '' : null"
                 [(ngModel)]="value"
                 (ngModelChange)="emitValue()"
                 [type]="'text'"
             >
         </div>
     }

 }


