@keyframes Rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes JumpAnimation {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  25%, 75% {
    transform: translateY(-2px) scale(1.02);
  }
  50% {
    transform: translateY(-4px) scale(1.04);
  }
}

@keyframes ShadowAnimation {
  0%, 100% {
    filter: drop-shadow(0 0 2px #00ffe7);
  }
  25%, 75% {
    filter: drop-shadow(0 0 3px #00ffe7);
  }
  50% {
    filter: drop-shadow(0 0 5px #ff00d4);
  }
}
