@mixin flexContainerRow($justify: center, $align: center, $gap: unset){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flexContainerColumn($justify: center, $align: center, $gap: unset){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin backgroundImageCover($imageUrl){

    background-image: url($imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
