@mixin flexContainerRow($justify: center, $align: center, $gap: unset) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flexContainerColumn($justify: center, $align: center, $gap: unset) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin backgroundImageCover($imageUrl) {

    background-image: url($imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


//? For Layouts 

//* Primary
@mixin PrimaryLayout() {
    display: grid;
    grid-template-columns: minmax(auto, 600px) minmax(auto, 1200px);
    grid-template-rows: auto auto;
    gap: 0.3rem;
}


//* Secondary





@mixin Term($row: 1, $column: 1){
    grid-column: $column;
    grid-row: $column;
}

