@use './theme' as *;
@use './resposive' as *;

@mixin flexContainerRow($justify: center, $align: center, $gap: unset) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flexContainerColumn($justify: center, $align: center, $gap: unset) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin backgroundImageCover($imageUrl) {

    background-image: url($imageUrl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


//? For Layouts 

//* Primary
@mixin PrimaryLayout() {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.3rem;

    @include screen(xl){
        grid-template-columns: minmax(auto, 500px) minmax(300px, 800px);
    }

    @include screen(xl){
        grid-template-columns: minmax(auto, 500px) minmax(300px, 1400px);
    }


}


@mixin Term($row: 1, $column: 1){
    grid-column: $column;
    grid-row: $column;
}

.message {

    padding: 1rem;
    background-color: $white;
    font-size: 1rem;

    &__error{
        color: $red;
        border-radius: 5px;
        border: 2px solid $red;
    }

    &__success{
        color: $green;
        border-radius: 5px;
        border: 2px solid $green;
    }

}

