@use '../sass/theme' as *;
@use '../../shared/sass/transitions' as *;


//? Sizes:
@mixin customScale($scale) {
    scale: $scale;
}

.icon {

    //? Sizes:
    &-ultraLarge {
        scale: 7;
    }

    &-large {
        scale: 3;
    }

    &-medium {
        scale: 2;
    }

    &-sm {
        scale: 1.2;
    }

    &-xsm {
        scale: 0.8;
    }

    //? Colors:
    &-reset {
        color: unset;
        fill: unset;
    }

    &-disabled {
        color: gray;    
    }

    &-green {
        color: $green;
    }

    &-lightGray {
        color: $lightGray;
    }

    &-orange {
        color: $orange;
    }

    &-red {
        color: $red;
    }
    &-blue {
        color: $blue;
    }
    &-blue {
        color: $pink;
    }

    &-yellow{
        color: $yellow;
    }



    //? Specials:
    &-pointer {
        cursor: pointer;
    }

    &-not-clickable {
        pointer-events: none;
    }

    &:hover {
        @include transitionScale(1.1, 0.5s);        
    }

}

