// Background colors:
$dark: #0d0f18;
$darkBlue: #5c5f82;
$ultraDarkBlue: #0d0f18;


// Terminals:
$darkTerm: #0d0f18a8;
$blueTerm: #212749d0;


// Primary colors: 
$skyblue: #b4d8ff;
$blue: #90accc;
$pink: #bb92e2;
$red: #fb6b84;
$green: #77d668;
$orange: #fc9f43;
$white: #f3f5f4;
$lightGray: #b8bfe5;
$darkGray: #45454bb6;
