// Background colors:
$dark: #0d0f18;


// Terminals:
$darkTerm: #0d0f1865;
$blueTerm: #212749d0;

// Primary colors: 
$skyblue: #b4d8ff;
$blue: #90accc;
$pink: #ceb4b8;
$red: #fb6b84;
$green: #77d668;
$orange: #fc9f43;
$white: #f2f2f3;
$darkGray: #45454bb6;
