@use '../../../../shared/sass/theme' as *;
@use '../../../../shared/sass/generic' as *;
@use '../../../../shared/sass/icons' as *;

h3 {
    color: $red;
}

.drinkList {

    width: 100%;
    @include flexContainerColumn(center, start);
    gap: 2rem;

    &__main {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 400px;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1rem;
        background: linear-gradient(to right, 
            rgba(255, 255, 255, 0),   
            $pink,                  
            rgba(255, 255, 255, 0)
        );  

        &__notfound {
            margin: 0 auto;
        }
    }

    &__title {
        color: $red;
        font-size: 2.5rem;
    }

}
