@use '../../sass/theme' as *;
@use '../../sass/generic' as *;


.term {

    border: 2px solid $darkGray;
    transition: border-color 0.3s;
    border-radius: 10px;
    background-color: $darkTerm;
    backdrop-filter: blur(8px);
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    

    &:hover {
        border-color: $blue;
    }

    overflow: hidden;
}