<div class="main">

    <app-polybar>

        <div class="modalProfile">
            <app-profile/>
        </div>

        <div class="menus">
            <div class="menus__wrapper">
                <mat-icon svgIcon="search" class="icon icon-pointer icon-sm"></mat-icon>
                <!-- <app-modal>
                    <h1>Kristofatico</h1>
                </app-modal> -->

            </div>

             <div class="menus__wrapper">
                <mat-icon svgIcon="filters" class="icon icon-pointer"></mat-icon>
                <!-- <app-modal>
                    <h1>Kristofatico</h1>
                </app-modal> -->

            </div>
            <div class="menus__wrapper">
                <mat-icon svgIcon="music" class="icon icon-pointer icon-sm"></mat-icon>
                <!-- <app-modal>
                    <h1>Kristofatico</h1>
                </app-modal> -->

            </div>
        </div>

        <div class="nav">
            <mat-icon svgIcon="logout" class="icon"></mat-icon>
            <mat-icon svgIcon="pacman" class="icon icon-xsm"></mat-icon>
            <mat-icon svgIcon="config" class="icon"></mat-icon>
        </div>
    </app-polybar>

</div>


