<main class="main">

    <aside class="main__aside">
        <app-polybar [showProfile]="showProfile" [onClickProfile]="onClickProfile">
            <div class="modalProfile">
                <app-profile [user]="user" />
            </div>

            <div class="menus">

                <div class="menus__wrapper">
                    <button (click)="onClickSearch()" [ariaLabel]="'search'">
                        <mat-icon svgIcon="search" class="icon icon-pointer icon-sm"></mat-icon>
                    </button>
                    <app-modal [showModal]="showSearchMenu">
                        <app-searcher  SearchTitle="Search your cocktail:" [onSearch]="onSearch">
                            <app-input [ariaLabel]="'Search'" [name]="'Search'" [icon]="'explorer'" (getValue)="getDrinkName($event)" [required]="true"></app-input>
                            <app-button [ariaLabel]="'search'" [size]="'xl'"
                                [buttonType]="'secondary'">Search</app-button>
                            <app-button [ariaLabel]="'search'" [size]="'xl'" [onClick]="onApplySearchFilter">Apply
                                Filters</app-button>
                        </app-searcher>
                    </app-modal>
                </div>


                <div class="menus__wrapper">
                    <button (click)="onClickFilter()">
                        <mat-icon svgIcon="filters" class="icon icon-pointer"></mat-icon>
                    </button>

                    <app-modal [showModal]="showFilterMenu">

                        <form class="filterForm" [formGroup]="filtersForm" id="filtersForm" (submit)="onApplyFilters()">

                            <app-input label="Flavour" ariaLabel="flavour" [name]="'flavour'" icon="local_fire_department" formControlName="flavour"/>

                            <app-input label="Typedrink" ariaLabel="typeDrink" [name]="'typeDrink'" icon="bookmark_add" formControlName="type"/>

                            <app-input ariaLabel="typeDrink" [name]="'typeDrink'" [type]="'checkbox'" icon="" formControlName="type"/>
                           
                            <app-button 
                                [ariaLabel]="'Apply Filters'" 
                                [buttonType]="'sucess'" 
                                [onClick]="onApplyFilters"
                                [size]="'xl'">Apply Filters<mat-icon class="icon-xsm">category</mat-icon></app-button>

                        </form>

                    </app-modal>

                </div>

                <div class="menus__wrapper">
                    <button (click)="onClickMusicPlayer()">
                        <mat-icon svgIcon="music" class="icon icon-pointer icon-sm"></mat-icon>
                    </button>

                    <app-modal [showModal]="showMusicPlayer">
                        <app-music-player [Songs]="Songs"></app-music-player>
                    </app-modal>

                </div>

            </div>

            <div class="nav">
                <a routerLink><mat-icon svgIcon="logout" class="icon"></mat-icon></a>
                <a href=""><mat-icon svgIcon="pacman" class="icon icon-xsm"></mat-icon></a> 
                <a href=""><mat-icon svgIcon="config" class="icon"></mat-icon></a> 
            </div>
        </app-polybar>
    </aside>

    <section class="main__section">
        <router-outlet/>
    </section>
</main>