@use '../../sass/generic' as *;
@use '../../sass/theme' as *;
@use '../../sass/resposive' as *;

.polybar {

    height: 85vh;
    width: 3.2rem;
    border-radius: 10px;
    background-color: $ultraDarkBlue;
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-rows: 5%;

    &__profileContainer {

        width: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        aspect-ratio: 1 / 1;
        transition: border-color 0.5s;
        background-color: $darkGray;
        cursor: pointer;
        position: relative;
        @include flexContainerRow();

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            border-color: $blue;
        }
    }
}

@include screenDesktop(sm) {

    .polybar {

        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        padding: 0.5rem;
        justify-content: space-between;

        &__profileContainer {
            width: 2.5rem;
            height: 100%;
        }

    }


}


