<section class="login">

    <h1>Login</h1>

    <form class="login__form" action="">
        <app-input 
            [name]="'username'" 
            [ariaLabel]="'username'" 
            [placeHolder]="'Username'" 
            [icon]="'person'"
            [size]="'large'" />

        <app-input 
            [name]="'username'" 
            [ariaLabel]="'username'" 
            [placeHolder]="'Password'" 
            [icon]="'lock'"
            [type]="'password'" 
            [size]="'large'" />

        <app-button 
            [ariaLabel]="'Login'" 
            [size]="'xl'"
            [buttonType]="'primary'"
            >Login</app-button>

        <app-button 
            [ariaLabel]="'Login'" 
            [size]="'xl'"
            [buttonType]="'danger'"
            >Register</app-button>
    </form>

</section>
