@use '../../sass/resposive' as *;
@use '../../sass/generic' as *;

.main {

    @include backgroundImageCover('/Cocktail-Making-Kris/images/login.gif');
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
