@use '../../../../shared/sass/generic' as *;
@use '../../../../shared/sass/resposive' as *;


.terms {

    width: 100%;
    height: 100%;
    @include PrimaryLayout();

}


@include screenDesktop(sm) {
    .terms {
        display: flex;
        flex-direction: column;
    }

}

