<article class="terms">

    <app-term [row]="'1 / span 2'" [column]="'1'">

        @let currentDrink = $currentDrink | async;

        <p>
            {{currentDrink?.name}}
        </p>


    </app-term>

    <app-term>

        @let dataStateDrink = ($relatedDrinks | async); 

        @if ( dataStateDrink?.loading) {
            <h1>Loading...</h1>
        } 

        @if (!(dataStateDrink?.loading) && (dataStateDrink?.data) ) {

            @for (drink of dataStateDrink?.data; track drink.id) {
                <p>{{drink.id}}</p>
            }@empty {
                <p>Not found</p>
            }
        }

    </app-term>

    <app-term>
        <h2>Receta</h2>
    </app-term>

</article>