<article class="terms">

    <app-term [row]="'1 / span 2'" [column]="'1'">

        @let currentDrink = $currentDrink | async;

        <p>
            {{currentDrink?.name}}
        </p>


    </app-term>

    <app-term>

        @let dataStateDrink = ($relatedDrinks | async); 

        @if ( dataStateDrink?.loading) {
            <h1>Loading...</h1>
        } 

        @if (!(dataStateDrink?.loading) && (dataStateDrink?.data) ) {
            <app-drink-list [drinks]="dataStateDrink?.data ?? []"></app-drink-list>
        }

    </app-term>

    <app-term>

        @if (currentDrink) {
            <app-recipe [drink]="currentDrink"></app-recipe>
        }

    </app-term>

</article>