@use '@angular/material' as mat;
@use './app/shared/sass/theme' as *;
@import "https://www.nerdfonts.com/assets/css/webfont.css";

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@font-face {
  font-family: VT323;
  src: url("/fonts/VT323-Regular.ttf");
}


* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: VT323;
  text-decoration: none;
  scroll-behavior: smooth;
  color: $darkBlue;
  // -webkit-tap-highlight-color: transparent;

}

button {
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}





