<app-auth-form [title]="'Login'" [formGroup]="loginForm" [onSubmitAuthForm]="onSubmitAuthForm">

    <app-input 
        [name]="'username'" 
        [ariaLabel]="'username'" 
        [placeHolder]="'Username'" 
        [icon]="'person'"
        [size]="'large'" 
        formControlName="username"
    />

    <app-input 
        [name]="'username'" 
        [ariaLabel]="'username'" 
        [placeHolder]="'Password'" 
        [icon]="'lock'"
        [type]="'password'" 
        [size]="'large'" 
        formControlName="password"
    />

    <app-button 
        [ariaLabel]="'Login'" 
        [size]="'xl'" 
        [buttonType]="'primary'">Login</app-button>

    <app-button 
        [ariaLabel]="'register'" 
        [size]="'xl'" 
        [buttonType]="'danger'"
        [onClick]="navigateToRegister"
        >Register</app-button>

    @if (loginSuccess) {
        <p class="message message__success">Success</p>
    }

    @if(messageError && loginSuccess === false) {
        <p class="message message__error">{{messageError}}</p>
    }

</app-auth-form>